/* create by deepak singh(D-man) */

html,
body {
    height: 100%;
    background-color: #FFBCD1;
}

.navbar
{
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #6867AC;
    display: flex;
    justify-content: center;  
    color: beige;
    border-bottom-width: 10px black;
}

#container{
    width: 100%;
    height: 60%;
    background-image: linear-gradient( #6867AC, #FFBCD1);
    display: flex;
    margin: 0 auto;

}

.text_box {
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.bottom{
    background-color: #FFBCD1;
}

.encode_button{
    margin-left: 30%;
    width: 120px;
    height: 40px;
    border-radius: 10px 10px 10px 30px;
    background-image: linear-gradient( #6867AC, white);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    cursor: pointer;
    border-width: 1.5px;
}

.decode_button{
    font-size: 20px;
    margin-left: 25%;
    width: 120px;
    height: 40px;
    border-radius: 10px 10px 30px 10px;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient( #6867AC, white);
    font-weight: bolder;
    cursor: pointer;
    border-width: 1.5px;
}

.buttons{
    margin-top: 70px;
}

